.fira-sans-font {
  font-family: 'Fira Sans', serif;
  font-style: normal;
}
/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Shared CSS */
.primary-font-color {
  color: #0e0e0e;
}
.bg-primary {
  background-color: #006a50;
}
/* Navbar CSS */
header {
  background-color: #f1f1f3;
  padding-top: 24px;
}
nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h5 {
  font-size: 32px;
  font-weight: 700;
}
nav button {
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.3s;
}
nav button:hover {
  box-shadow: 2px 2px 2px #006a50;
}
/* Hero Section CSS */
.hero {
  max-width: 1280px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 80px 60px;
  background-color: #c6e4d6;
}
.hero-left span {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
  display: inline-block;
}
.hero-left h1 {
  max-width: 350px;
  margin-bottom: 24px;
}
.hero-left button {
  padding: 17px 34px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.hero-right img {
  width: 474px;
  height: 400px;
}
/* Pillars of Bangladesh 2.0 */
main {
  padding-top: 80px;
  background-color: #f1f1f3;
}
.pillars-section {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.pillars-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.pillars-items {
  display: flex;
  gap: 24px;
}
.pillars-item {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars-item img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.pillars-item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.pillars-item p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
/* The Vision of Future CSS */
.vision-future-section {
  width: 1280px;
  margin: 0 auto;
}
.vision-future-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.vision-future-section > p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.vision-future-items {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.vision-future-items > div {
  padding: 32px;
}
.vision-future-items > div img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.vision-future-items > div h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.vision-future-items > div p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.vision-future-items > div button {
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.vision-future-item-1 {
  background-color: rgba(84, 143, 245, 0.2);
  border: 1px solid #5490f5;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-2 {
  background-color: #c6e4d6;
  border: 1px solid #09a15c;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-3 {
  background-color: #f7ebcf;
  border: 1px solid #ffc239;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-1 button {
  background-color: #5490f5;
}
.vision-future-item-2 button {
  background-color: #09a15c;
}
.vision-future-item-3 button {
  background-color: #ffc239;
}
/* Quote Section */
.quote-section {
  width: 1280px;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  padding: 18px 24px 48px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.quote-section p {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}
.quote-section h4 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}
.quote-section span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
}
.quote-section > div {
  background-image: url(/assets/images/quote-bg.png);
  background-repeat: no-repeat;
}
