.fira-sans-font {
  font-family: 'Fira Sans', serif;
  font-style: normal;
}
/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
input {
  outline: none;
}
/* Shared CSS */
.primary-font-color {
  color: #0e0e0e;
}
.bg-primary {
  background-color: #006a50;
}
/* Navbar CSS */
header {
  background-color: #f1f1f3;
  padding-top: 24px;
}
nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h5 {
  font-size: 32px;
  font-weight: 700;
}
nav button {
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
}
/* Hero Section CSS */
.hero {
  max-width: 1280px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 80px 60px;
  background-color: #c6e4d6;
}
.hero-left span {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
  display: inline-block;
}
.hero-left h1 {
  max-width: 350px;
  margin-bottom: 24px;
}
.hero-left button {
  padding: 17px 34px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.hero-right img {
  width: 474px;
  height: 400px;
}
/* Pillars of Bangladesh 2.0 */
main {
  padding-top: 80px;
  background-color: #f1f1f3;
}
.pillars-section {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.pillars-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.pillars-items {
  display: flex;
  gap: 24px;
}
.pillars-item {
  width: 302px;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars-item img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.pillars-item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.pillars-item p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
/* The Vision of Future CSS */
.vision-future-section {
  width: 1280px;
  margin: 0 auto;
}
.vision-future-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.vision-future-section > p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.vision-future-items {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.vision-future-items > div {
  padding: 32px;
}
.vision-future-items > div img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.vision-future-items > div h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.vision-future-items > div p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.vision-future-items > div button {
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.vision-future-item-1 {
  background-color: rgba(84, 143, 245, 0.2);
  border: 1px solid #5490f5;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-2 {
  background-color: #c6e4d6;
  border: 1px solid #09a15c;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-3 {
  background-color: #f7ebcf;
  border: 1px solid #ffc239;
  border-radius: 16px;
  width: 410px;
}
.vision-future-item-1 button {
  background-color: #5490f5;
}
.vision-future-item-2 button {
  background-color: #09a15c;
}
.vision-future-item-3 button {
  background-color: #ffc239;
}
/* Quote Section */
.quote-section {
  width: 1280px;
  margin: 0 auto 80px;
  background-color: white;
  border-radius: 16px;
  padding: 18px 24px 48px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.quote-section p {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}
.quote-section h4 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}
.quote-section span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
}
.quote-section > div {
  background-image: url(/assets/images/quote-bg.png);
  background-repeat: no-repeat;
}
/* Opinion Matters Section */
.opinion-matters {
  width: 1280px;
  margin: 0 auto;
}
.opinion-matters h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.opinion-section {
  padding: 32px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 80px;
}
.opinion-section-table {
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-table-header {
  background-color: #d4edda;
  color: #0e0e0e;
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  display: flex;
  justify-content: space-between;
}
.question {
  padding: 36px 349px 36px 24px;
  width: 1017px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  border-right: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 16px;
  font-weight: 500;
  color: #0e0e0e;
}
.row {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 219px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}
.remove-border {
  border-bottom: none;
}

.dropdown select {
  background-color: #c6e4d6;
  border: 1px solid #0e0e0e;
  padding: 12px 16.5px;
  width: 152px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
}

.dropdown select:focus {
  outline: none;
  border-color: #0e0e0e;
  background-color: #c6e4d6;
}
/* Recent News Section */
.recent-news-section {
  width: 1280px;
  margin: 0 auto;
}
.recent-news-section h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.recent-news-section > p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.recent-news-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}
.recent-news {
  background-color: white;
  border-radius: 24px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.recent-news-img {
  width: 100%;
  border-radius: 24px;
}
.recent-news-img img {
  width: 100%;
}
.recent-news-desc h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}
.recent-news-desc img {
  width: 134px;
  height: 40px;
  display: block;
  margin-bottom: 12px;
}
.recent-news-desc .date-time {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 12px;
}
.recent-news-desc p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.recent-news-desc button {
  padding: 13px 26px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* Donate Today */
.donate-today {
  width: 1280px;
  margin: 0 auto 80px;
}
.donate-today h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
  text-align: center;
}
.donate-today p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  width: 1104px;
  margin: 0 auto 32px;
}
.donate-today input {
  width: 1032px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 422px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
  margin-bottom: 32px;
}
.donate-today input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
.donate-today > a button {
  padding: 17px 34px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
}
.donate-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}
.donate-buttons button {
  padding: 40px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  cursor: pointer;
  transition: all ease 0.3s;
}
.donate-buttons button:hover {
  background-color: #c6e4d6;
}
/* Subscribe Newsletter */
.subscribe-newsletter {
  width: 1280px;
  margin: 0 auto 80px;
  padding: 80px 265px;
  background-color: #c6e4d6;
  border-radius: 24px;
}
.subscribe-newsletter h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-newsletter p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  width: 622px;
  margin: 0 auto 24px;
}
.subscribe-newsletter input {
  padding: 18px 300px 18px 40px;
  width: 600px;
  height: 55px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
.subscribe-newsletter input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
.subscribe-newsletter button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #006a50;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.subscribe-newsletter div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.subscribe-newsletter span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
}
/* Footer Section */
footer {
  width: 1280px;
  margin: 0 auto;
}
footer h4 {
  margin: 50px auto 32px;
  padding-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  text-align: center;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-bottom: 50px;
}
